
*{
    box-sizing: border-box;
    margin: 0px;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-text-size-adjust: 100%;
    display: block;
}
@font-face {
    font-familiy : "Myriad-Pro-Semibold-Condensed";
    src : url("../fonts/Myriad-Pro-Semibold-Condensed_31644.eot");
    src : url("../fonts/Myriad-Pro-Semibold-Condensed_31644.otf") format('otf'),
          url("../fonts/Myriad-Pro-Semibold-Condensed_31644.svg") format('svg'),
          url("../fonts/Myriad-Pro-Semibold-Condensed_31644.ttf") format('ttf'),
          url("../fonts/Myriad-Pro-Semibold-Condensed_31644.woff") format('woff');
}
@font-face {
    font-familiy : "myriadpro-bold";
    src : url("../fonts/myriadpro-bold.eot");
    src : url("../fonts/myriadpro-bold.svg") format('svg'),
          url("../fonts/myriadpro-bold.ttf") format('ttf'),
          url("../fonts/myriadpro-bold.woff") format('woff');
}

@font-face {
    font-familiy : "myriadpro-light";
    src : url("../fonts/myriadpro-light.eot");
    src : url("../fonts/myriadpro-light.svg") format('svg'),
          url("../fonts/myriadpro-light.ttf") format('ttf'),
          url("../fonts/myriadpro-light.woff") format('woff');
}
@font-face {
    font-familiy : "myriadpro-regular";
    src : url("../fonts/myriadpro-regular.eot");
    src : url("../fonts/myriadpro-regular.svg") format('svg'),
          url("../fonts/myriadpro-regular.ttf") format('ttf'),
          url("../fonts/myriadpro-regular.woff") format('woff');

}

@font-face {
    font-familiy : "myriadpro-regular";
    src : url("../fonts/myriadpro-semibold.eot");
    src : url("../fonts/myriadpro-semibold.svg") format('svg'),
          url("../fonts/myriadpro-semibold.ttf") format('ttf'),
          url("../fonts/myriadpro-semibold.woff") format('woff');
          
}
.Wrapper{
    width: 100%;

}

.container {
    margin : 0 auto;
}
.container::after{
    clear: both;
    display: table;
    content: "";
}

@media (min-width: 576px) {
    .container {
      max-width: 576px;
    }
  }
  
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
  
@media (min-width: 992px) {
    .container {
        max-width: 900px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1100px;
    }
}

@media (min-width: 1366px) {
    .container {
        max-width: 1200px;
    }
}

.social-network{
    display: inline-flex;
    
}
.contact-us-bar{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.facebook{
  width: 40px;
  height: 40px;
  background: url("../images/social_ic.png") 0 0;
}
.pinclick{
    width: 40px;
  height: 40px;
  background: url("../images/social_ic.png") 40px 0;
}
.google{
    width: 40px;
    height: 40px;
    background: url("../images/social_ic.png") 80px 0;
}
.twitter{
    width: 40px;
    height: 40px;
    background: url("../images/social_ic.png") 120px 0;
}

.phone_no{
    float: right;
}

.phone_no a{
    text-decoration: none;
    color: black;
}

@media (max-width : 576px){
    .phone_no{
        display: none;
    }
}
.contact-us{
    float: right;
    background-color: red;
    color: white;
    padding: 5px;
    margin-left: 20px;
}
.contact-us:hover{
    cursor: pointer;
}

.bg-grey{
    background-color: rgb(207, 200, 200);
}



.navbar-nav a{
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    
}

.navbar-nav a:hover{
   font-weight: 500;

}
.pos-relative{
    position: relative;
}

.logo{
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 150px;
    z-index: 10;
}


@media (min-width: 768px){
    .logo{
       right: 0;
       left: 0;
       margin: auto;
        width: 200px ;    
    }
    .navbar-nav a{
        font-size: 8px;
    }

}


@media (min-width:992px){
    .navbar-nav a{
        font-size: 10px;
    }
    .logo{
        width: 300px;
    }
}
@media(min-width :1200px){
    .navbar-nav a{
        font-size: 12px;
    }
    .logo{
        width: 320px;
    }
}



















.bg-flag{
    background-image: url("../images/banner.png");

}
.bg-army{
    background-image: url("../images/banner_home_img.png") ;
    background-position: right;
    background-size: 70% 100%;
    background-repeat: no-repeat;
}
.padding{
    padding: 300px 0;
}

.heading-container{
    width: 50%;
    padding: 10px 0px;

}


.heading-title1{
    background-image: url("../images/banner_right_shape.png");
    position: relative;
    height : 30px;
    width : 100px;
    background-position: right;
    
}
.heading-title1-left-curve{
    position: absolute;
    left: -12px;
    top:0;
    height: 30px;
}
.heading-title1-title{
    color: white;
    font-size: 13px;
    font-family: myriadpro-regular;
    

}
.margin-left{
    margin-left: 40px;
    margin-top: -3px;
}
.margin-left-2{
    margin-left: 80px;
    margin-top: -3px;
}
.margin-left-3{
    margin-left: 120px;
    margin-top: -3px;
}

.heading-title2{
    background-image: url("../images/banner_right_shape_white.png");
    position: relative;
    width: 180px;
    height: 30px;
    background-position: right;
}

.heading-title2-title{
    color: red;
    font-size: 13px ;
}


.title-bar-helped{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    height: auto;
}





@media ( min-width: 576px ){
    .heading-container{
        
        padding: 20px 0px 20px 10px;
    }   
    .heading-title1{
        height : 40px;
        width : 150px;
    }
    .heading-title1-left-curve{
        left: -15px;
        height: 40px;
    }
    .heading-title1-title{
        font-size: 15px;
    }
    .margin-left{
        margin-left: 40px;
      
    }
    .margin-left-2{
        margin-left: 80px;
     
    }
    .heading-title2{
        height: 40px;
        width: 200px;
    }
    .margin-left-3{
        margin-left: 120px;
    }
}

@media ( min-width: 768px ){
    .heading-container{
        
        padding: 30px 0px 30px 10px;
    }
    .heading-title1{
        height : 45px;
        width : 170px;
    }
    .heading-title1-left-curve{
        left: -19px;
        height: 45px;
    }
    .heading-title1-title{
        font-size: 17px;
    }
    .margin-left{
        margin-left: 45px;

    } 
    .margin-left-2{
        margin-left: 90px;

    }  
    .heading-title2{
        height: 45px;
        width: 220px;
    }
    .margin-left-3{
        margin-left: 135px;
    }
}

@media ( min-width: 992px ){
    .heading-container{
        
        padding: 40px 0px 40px 10px;
    }  
    .heading-title1{
        height : 50px;
        width : 170px;
    } 
    .heading-title1-left-curve{
        left: -21px;
        height: 50px;
    }
    .heading-title1-title{
        font-size: 19px;
    }   
    .margin-left{
        margin-left: 50px;
        margin-top: -3px;
    }
    .margin-left-2{
        margin-left: 100px;
     
    }
    .heading-title2{
        height: 50px;
        width: 220px;
    }
    .margin-left-3{
        margin-left: 150px;
    }
}

@media ( min-width: 1200px ){
    .heading-container{
        
        padding: 50px 0px;
    } 
    .heading-title1{
        height : 55px;
        width : 200px;
    }   
    .heading-title1-left-curve{
        left: -23px;
        height: 55px;
    }
    .heading-title1-title{
        font-size: 21px;
    } 
    .margin-left{
        margin-left: 55px;
        margin-top: -3px;
    } 
    .margin-left-2{
        margin-left: 110px;
        margin-top: -3px;
    }
    .heading-title2{
        height: 55px;
        width: 300px;
    }
    .margin-left-3{
        margin-left: 165px;
    }     
}









.ic-img{
    height: 50px;
    
}
.title-bar-contain{

    margin: 10px 0;
    display: inline-flex;
    
}







/* card layout */

.card-flex-container{
    display: flex;
    
    justify-content: center;
    flex-flow: row wrap;
    padding-top: 50px;
    padding-bottom: 50px;
}
.card{
    box-shadow: 0px 0px 10px #888888;
    width: 350px;
   
}
@media (min-width: 576px) {
    .card {
        width: 400px;
        margin: 5px 15px 5px 15px;
    }
}

@media (min-width: 768px) {
    .card {
        width: 250px;
    }
}

@media (min-width: 942px) {
    .card {
        width: 300px;
    }
}


.bg-card-1{
    background-image: url("../images/role_impact_ic.png");
    background-size: 50% 50%;
    background-position: bottom right;
    background-repeat: no-repeat;

}

.bg-card-2{
    background-image: url("../images/our_service_ic.png");
    background-size: 50% 50%;
    background-position: bottom right;
    background-repeat: no-repeat;

}
.bg-card-3{
    background-image: url("../images/get_involved_ic.png");
    background-size: 50% 50%;
    background-position: bottom right;
    background-repeat: no-repeat;

}

.card-image{
   width: 100%;
    height: 100%;
}
.inner-card{
    margin: 10px 10px;    
}
.card-details{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}
.card-sub-heading{
    color: red;
    font-size: 20px;
    text-align: center;
    display: block;
    font-weight: 500;
}
.card-description{
    margin-right: 20%;
}
.card-description P{
    line-height: 1.16;
}
.card-button{
    background-color: red;
    color: white;
}




/* DONATE BAR*/
.give-back-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0px 0px 10px #888888;
    margin-bottom: 20px;
}
.give-back{
    background-image: url("../images/banner_right_shape.png");
    background-position: right;
    background-repeat: no-repeat;   
    padding: 10px 85px 10px 30px;
}
@media (max-width: 490px  ){
    .give-back{
        width: 100%;
    }
}

.give-back-title{
    color: whitesmoke;
    
}
.donate-button{
    text-decoration: none;
    background-image: url("../images/donate_btn_bg.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0px 35px 0px 35px;
    height: 45px;
    margin-top: 10px;;

}



/* upcoming events */

.bg-upcoming-event{
    background-image: url("../images/event_bg.png");
    background-position: right;
    background-repeat: no-repeat;

}


.upcoming-event-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: row wrap;
    padding-top: 15px;    

}
@media (max-width :992px){
    .bg-upcoming-event{
        background-image: none;
        background-color: rgb(189, 186, 186);
    }
    .upcoming-event-container{
        justify-content: center;
    }
}
.upcoming-events-details{
    display: block;
    margin: 20px 0px;
}
.upcoming-events-details p a{
    text-decoration: none;
    color: black;
}

.question-form-item{
    order: 1;
}
.question-form{
    background-color: grey;
    
}
.question-form h3 {
    text-align: center;
}
.question-form h4{
    text-align: center;
}
.inner-question-form{
    padding: 20px 15px 20px 15px;
}

.input-email{
    width: 100%;
    margin-top: 10px;
}

.input-mesage{
    width: 100%;
    margin-top: 10px;
}

.text-center{
    text-align: center;
}
.submit-button{
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    color: white;
    background-color: grey;
    padding: 0 10px;
    border-radius: 5px;
}


.bg-do-more{
    background-image: url("../images/contact_us_bg.png");
}
.do-more-container{
    padding: 20px 0px 20px 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.contact-us-form{
    margin: 10px 0px;
}
.contact-us-img{
    width: 100%;
    height: 100%;
}
@media (max-width :992px){
    .do-more-container{
        justify-content: center;
       
    }

}

.text-white{
    color: white;
}