@font-face{
    font-family: "BebasNeueEot" ;
    src: url("../fonts/BebasNeue-webfont.eot");
}


.Wrapper{
    width: 100%;
}

.bg-black{
    background-color: black;
}


.navbar-nav a{
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    
}

.navbar-nav a:hover{
    border-bottom: 1px solid white;
    

}

@media(max-width : 991px){
    .navbar-nav a{
        padding: 0 0 0 20px;
    }
    
}





.head-background{
    background-image: url("../images/banner-bg.jpg");
    background-position: right;
    background-size: 80% 100%;
    background-repeat: no-repeat;
    
}
.heading-text{
    padding: 180px 0px 180px 30px;  
}
.heading-title1{
    color: white;
    font-weight: 700;
    font-size: 30px;
    display: block;
    
    
    font-family: BebasNeueEot;
}
.heading-title2{
    color: blue;
    font-size: 50px;
    font-weight: 700;
    
    display: block;
    margin-top: -17px;
}
.heading-title3{
    color: white;
    font-size: 15px;
    margin-top: -40px;
}
.heading-button{

    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 10px 20px ;
}
@media only screen and (max-width: 768px){
    .heading-text{
        padding: 80px 0px 80px 15px;  
    }
    .heading-title1{
        font-size: 25px;
        padding-top: 60px;
    }
    .heading-title2{
        font-size: 30px;
        margin-top: -10px;
    }
    .heading-title3{
        font-size: 15px;
        margin-top: -30px;
    }
}
@media only screen and (max-width: 576px){
    .heading-title1{
        font-size: 20px;
        padding-top: 60px;
    }
    .heading-title2{
        font-size: 25px;
    }
    .heading-title3{
        font-size: 10px;
    }
    .heading-hide{
        display: none;
    }
}


.training-heading{
    color: blue;
    font-weight: 600;
}
.training-content{
    margin: 20px 0px;
}
.training-image{
    position: relative;
}

.pause-button{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}



.join-now-heading{
    display: block;
    text-align: left;
    color: aqua;
}
.join-now-description{
    color: white;
    margin-top: 10px;
}

@media only screen and (max-width: 767px){
    .join-now-heading{
        text-align: right;
    }
    .join-now-description{
        text-align: right;
        
    }
}
.form-control:focus {
 
     box-shadow: none; 
}

.fitness-heading{
    color: aqua;
}

.coursol-image-curve{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.text {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }

  .person-image {
    z-index: -2;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .fitness-card:hover .overlay {
    opacity: 0.5;
  }




.bg-grey{
      background-color: gray;
  }
.border-top-blue{
    border-top: 3px solid blue;
}
.text-blue{
    color: blue;
}