*{
    box-sizing: border-box; margin:0;
}

.Wrapper{
    width: 100%;

}

.Container{
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.Container::after{
    content: "";
    display: table;
    clear: both;
}
.head-bg{
    background-color: white;
}

.head-logo{
    float: left;
}
.head-navbar{
    float: right;
    
}

.head-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.head-navbar ul li {
    float: left;
}

.head-navbar ul li a {
    display: block;
    padding: 20px 0px 10px 40px;
    text-decoration: none;
    color: #66CCCC;
    font-weight: 800;
  }
.head-navbar ul li a:hover {
    color: #015281;
  }

.head-mini-cart{
    position: absolute;
    bottom: -40px;
    right: 0;
    background-color: #105485;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 40px;
    width: 120px;
    font-weight: 300;
    padding-top: 8px ;
    padding-left: 5px; 
    z-index: 1;  
}

.head-mini-cart a{
    text-decoration: none;
    color: white;
    
}




.main-bg{
    background-image: url("../hlp.jpg");

}
.main-heading{
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    margin: 0;
    padding: 30px;
}
.main-slider{
    float: left;
    width: 30%;
    padding-right: 10px;
    background-color: white;
    border-radius: 10px;
}
.main-slider p{
    padding: 20px 30px;
}
.main-product-details{
    float: right;
    width: 70%;
    padding-left: 10px;
}
.main-slider-heading{
    color: #ABD28F; 
    text-align: center;
    display: block;
    font-size: 20px ;
    padding : 15px;
    font-weight: 400;
}
.product-card{
    background-color: white;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
    width: 200px;
    border-radius: 20px;
    
}
.product-card h4{
    color: white;
    background-color: #66CCCC ;
    margin: 0;
    padding: 10px 10px;
    text-align: center;
    border-top-left-radius:10px;
    border-top-right-radius:10px;

}
.product-image{
    display: block;
    margin: 20px auto;
    
}
.product-card-button-kopen{
    background-color: #bed28f;
    color: #fff;
    padding: 6px 35px;
    border-radius: 20px;
    display: block;
    margin: auto;
    
}

.product-card-button-Abonneren{
    background-color: #105485;
    color: #fff;
    padding: 6px 21px;
    border-radius: 20px;
    display: block;
    margin: auto;
}
.footer-bg{
    background-color: rgb(231, 229, 229);;
}
.footer-margin{
    padding-top: 40px;
    padding-bottom: 40px;

}
.footer-data{
    float: left;
    width: 20%;
    color: rgb(133, 130, 130);
}
.footer-data a{
    color: rgb(133, 130, 130);
    text-decoration: none;
}

.footer-logo{
    margin: 10px 10px;
}